.app-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
}

.view-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
